<section >
    <main>
     <section class="flex flex-wrap justify-center bg-white dark:bg-gray-900 h-3/6" >    
        <div class="max-w-full h-auto pt-30 ">
            <a href="/">
                <img src="/img/404dummy.png" alt="404 not Found" class="object-fill">        
            </a>
        </div>
    </section>    
    </main>
</section>