{{!-- <div class="containerBody">
    <div class="jumbotron">
        <h1>¡Hasta luego {{nombre}}!</h1>
    </div>
</div> --}}

<section >    
    <div>
        <p class="text-right pt-6 pr-6"> puedes continuar navegando o esperar <a id="counter-label">Loading ...</a> </p>
    </div>   
</section>       
<a href="./">
    <section class="bg-white dark:bg-gray-900 pb-8" >    
        <div class="py-8 lg:py-4 px-4 mx-auto max-w-screen-md">
            <blockquote>
            <p class="text-2xl font-medium mx-auto  flex justify-center">
                Cerraste sesion correctamente.
            </p>
            </blockquote>      
        </div>
    </section>
    <section class="bg-white dark:bg-gray-900 pb-8" >    
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <img class="rounded-lg mx-auto" 
                src="./img/cerrarSession.jpg"
                alt="Best Briend Forever ( BFF )" > 
        </div>
    </section>   
</a>
<script src="./js/logOut.js"></script>
<script src="./js/main.js"></script>
