<a class="footer" href="https://github.com/JesusRamirezGamarra" target="_blank">Developed by: Jesus Ramirez</a>
<div class="py-20 flex justify-center"><a href="https://github.com/JesusRamirezGamarra" target="_blank" ><img src="/img/gitHub.png" width="100" ><a/>
</div>  