<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/icon/favicon.ico" />       
    <link href='/css/interno.css' rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>      
    <script>
    tailwind.config = {
        theme: {
            extend: {
                animation: {
                        'spin-slow': 'spin 3s linear infinite',
                },
                screens: {
                    '3xl': '1600px',
                    '4xl': '1792px',
                    '5xl': '2048px',
                },
                extend: {
                    colors: {
                    clifford: '#da373d',
                    },
                    animation: {
                        type: 'type 2.7s ease-out .8s infinite alternate both',
                    },
                    keyframes: {
                        type: {
                            '0%': { transform: 'translateX(0ch)' },
                            '5%, 10%': { transform: 'translateX(1ch)' },
                            '15%, 20%': { transform: 'translateX(2ch)' },
                            '25%, 30%': { transform: 'translateX(3ch)' },
                            '35%, 40%': { transform: 'translateX(4ch)' },
                            '45%, 50%': { transform: 'translateX(5ch)' },
                            '55%, 60%': { transform: 'translateX(6ch)' },
                            '65%, 70%': { transform: 'translateX(7ch)' },
                            '75%, 80%': { transform: 'translateX(8ch)' },
                            '85%, 90%': { transform: 'translateX(9ch)' },
                            '95%, 100%': { transform: 'translateX(11ch)' },
                        },
                    },
                }
            }
        }      
    }
    </script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>    
    <title>{{title}}</title>
</head>
    <body >
        <section class="pb-40">
            <header class="border-b-4 border-black text-gray-600 body-font">
                {{>header}}
            </header>
        </section>
        <section>
            {{{body}}}
        </section>            
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>